.navbar {

    .navbar-nav {

        .nav-link {

            @include media-breakpoint-up(xl){
                margin-left: 1.75rem;
                margin-right: 1.75rem;
            }

        }

    }

}

.hero-section {
    
    padding: 200px 0 250px 0;

    background-image: url('../public/img/heroBg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 20%;

    h1 {
        
        span {
            background-image: url('../public/img/pokedexBg.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
        
    }

    @include media-breakpoint-down(lg){
        background-image: none;
    }

}

.about-section {

    padding: 70px 0 70px 0;

}

.explore-section {

    padding: 130px 0 30px 0;

    h4 {
        background-image: url('../public/img/pokemonWorldBg.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

}

.contact-section {
    padding-top: 20rem;
}

.footer-section {

    padding: 200px 0 100px 0;

    h5 {
        font-size: 18px;
        position: relative;
        // line-height: 1.5;
        // border-bottom: $primary;
        // border-bottom-style: solid;
        // border-bottom-width: 3px;
        width: fit-content;
        padding-bottom: 7px;

        &:after {
            content:'';
            position:absolute;
            bottom:0;
            left:0;
            right:0;
            background:$primary;
            height:3px;
            border-radius:1.5px;              
        }

    }

    ul {
        list-style-type: none; /* Remove bullets */
        padding: 0; /* Remove padding */
        margin: 0; /* Remove margins */

        li {
            margin-bottom: 0.25rem;

            a {
                text-decoration: none;
                color: $gray-500;
                font-size: 14px;
                
                &:hover {
                    text-decoration: underline;
                }

            }

        }

    }

}